<div class="container mx-auto">
    <h2>With default style</h2>
    <div class="p-4 justify-between items-center">
        <div class="flex w-full justify-between items-center">
            <span class="text-gray-400 text-lg">Theme</span>
            <dark-mode-toggle>
                
            </dark-mode-toggle>
        </div>
    </div>
    <h2>With own style</h2>
    <div class="p-4 justify-between items-center">
        <div class="flex w-full justify-between items-center">
            <span class="text-gray-400 text-lg">Theme</span>
            <dark-mode-toggle>
                <input type="checkbox" name="theme" id="theme" (change)="toggleTheme()" />
            </dark-mode-toggle>
        </div>
    </div>
</div>