<div class="container mx-auto">
    <h2>With default style</h2>
    <div class="p-4 justify-between items-center">
        <div class="flex w-full justify-between items-center">
            <span class="text-gray-400 text-lg">Theme</span>
            <dark-mode-toggle>
                
            </dark-mode-toggle>
        </div>
    </div>
    <h2>With own style</h2>
    <div class="p-4 justify-between items-center">
        <div class="flex w-full justify-between items-center">
            <span class="text-gray-400 text-lg">Theme</span>
            <dark-mode-toggle>
                <input type="checkbox" name="theme" id="theme" (change)="toggleTheme()" />
            </dark-mode-toggle>
        </div>
    </div>
    After
    <input type="checkbox" class="absolute opacity-0 w-px h-px" [name]="'debug'" [disabled]="false">
    <div class="switch-core relative block flex w-12 h-[24px] m-0 items-center bg-gray-200 transition-colors duration-200 ease-in-out rounded-full">
      <div class="switch-button relative block h-5 w-5 top-0 left-0 m-[2px] bg-white rounded-full overflow-hidden transition-all duration-200 ease-in-out"></div>
    </div>
    Test
    <div class="bg-red-200 w-full">Test</div>
</div>